<div style="text-align:right; float: right;">
    <a href="<?php echo $block->getCalculatorUrl(); ?>" target="_blank">
        <img src="<?php echo $block->getViewFileUrl('AliorBank_Raty::images/alior-kalkulator-guzik.gif'); ?>" />
    </a>
</div>
